<h1>Paasword Generator</h1>
<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($any($event).target.value)"/>
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLatters()" type="checkbox" />
</div>
<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>
<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>

<div>
  <button 
  [disabled]="!(length && (includeSymbols || includeNumbers || includeLetters))" 
  (click)="onButtonClick()">Generete</button>
</div>

<div *ngIf='password'>
  <label>Your Password</label>
  <input [value]="password" />
</div>
